{% extends 'upload/staff_base.html' %}
{% block title %}source{% endblock %}

{% block script %}
{% endblock %}
{% load crispy_forms_tags %}
    <link rel="stylesheet" type="text/css" href="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/css/upload.css">

{% block body %}
    <div class="total">
        <div class="head">
            <div id="target_image">
                <img src="{{ object.image.url }}" height="300px">
            </div>
        </div>

        <div class="middle">
            {% for key, val in ordered_data.items %}
                <div style="margin-top: 50px">
                    <h4 style="margin-top: 20px">[color_{{ key }}] 총 {{ val.count }}개 업로드 됨</h4>

                    {% for obj in val %}
                        <img src="{{ obj.image.url }}" height="150px" style="padding-right: 10px;">
                    {% endfor %}

{#                        <form action="" method="post" autocomplete="off" enctype="multipart/form-data">#}
                        <form action="{% url 'custom_manage:staff_each_color_update' pk1=object.pk pk2=key %}" method="post" autocomplete="off" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ edit_form | crispy}} <br/>
{#                            <input type="file" value="수정하깅" accept="image/*" multiple/>#}
                            <input type="submit" value="수정하깅">
                        </form>

                    <br>
                </div>
            {% endfor %}

        </div>
        <div class="bottom" style="padding-top: 150px; padding-bottom: 50px">
            {% if is_send %}
            <h3 class="confirm-button" style="background-color: #bbbbbb; border-color: #6b6a6e; cursor: default; color: #6b6a6e">발송 완료됨</h3>
            {% else %}
            <a class="confirm-button" style="text-decoration: none" href="{% url 'custom_manage:confirm_done' pk=object.pk %}">유저 발송</a>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block css %}

{% endblock %}