{% extends 'upload/staff_base.html' %}
{% block title %}source{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
<div class="total">
    <div class="head">
        <div id="target_image">
{#            <img src="{{ object.image.url }}" height="300px">#}
            <h1>edit</h1>
            {#        <span id = "target_image_name" style="margin-right: 20px">변형할 사진</span>#}
        </div>
    </div>

    <div class="middle">
{#        <form action="" method="post" autocomplete="off" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#            {{ form | crispy}} <br/>#}
{#            <input type="submit" value="점검하기">#}
{##}
{#        </form>#}

    </div>
</div>
{% endblock %}


{% block css %}

{% endblock %}