{% extends 'upload/staff_base.html' %}
{% block title %}source{% endblock %}

{% block script %}
{% endblock %}
{% load crispy_forms_tags %}
    <link rel="stylesheet" type="text/css" href="/static/css/upload.css">

{% block body %}
<div class="total" style="position: relative; text-align: center;">
    <div class="head">
        <div id="target_image">
            <img src="{{ object.image.url }}" height="300px">
        </div>
    </div>

    <div class="middle">
        <form action="" method="post" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy}} <br/>
            <input type="submit" value="점검하기">

        </form>

    </div>
</div>
{% endblock %}
