{% extends 'base.html' %}

{% block content %}
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <body style="min-width: 400px;">
    <!--section-->
    <div id="wrap">
        <header>
            <div class="head_wrapper">

                <div class="wrapper">
                    <h1><a style="color:black; text-decoration-line: none; "href="/">AndreAI</a></h1>
                    <nav>
                        <ul class="menu">
                            {#                    <li><a style="color:black;"href="/">서비스 소개</a></li>#}
                            {#                    <li><a href="select">서비스 체험하기</a></li>#}
                            <li><a id="call" href="http://pf.kakao.com/_MhSgK/chat">문의하기</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
            {#            <div id="applyBtn">#}
{#                            <img src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/applyBtn.png"#}
{#                                 onmouseover="this.src='https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/applyBtn_hover.png'"#}
{#                                 onmouseout="this.src='https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/applyBtn.png'"#}
{#                                 href="{% url "landing:select" %}" class="non-mobile"/>#}
            {#                <img src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/applyBtn_m.png"#}
            {#                     href="{% url "landing:select" %}" class="mobile"/>#}
            {#            </div>#}

        </header>


        {##}
        {##}
        {#        <section id="sectionSell">#}
        {#            <div id="landingImg">#}
        {##}
        {#                <img src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/landingHome_m.png" class="mobile"/>#}
        {#                <img src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/landingHome.png" class="non-mobile"/>#}
        {#            </div>#}
        {#        </section>#}


        <!-- 메인페이지 시작 -->
        <div class="main-top">

            <!-- 좌측 글씨 -->
            <div class="section-main-text">
                <div class="main-text-inner inner">
                    <p id = "main-text">셀러의 촬영 비용을 줄여줄<br>최고의 파트너, AndreAI</p>
                    <p id = "main-text-sub">이커머스 셀러들의 촬영과정을 더욱 편리하게 만들고 사입 비용을 줄일 수 있도록 도와줍니다.</p>
                </div>

                <!-- 버튼 두개 -->
                <div class="button-section">
                    <div class="button-inner inner">
                        <ul>
                        <li id = "contact-button"><a id="contact-button-inner" href="http://pf.kakao.com/_MhSgK/chat">솔루션 문의하기</a></li>
                            <li id = "apply-button"><a id="apply-button-inner" href="{% url 'landing:try-detail' %}">무료 이용 시작하기</a></li>
                            </ul>
                    </div>
                </div>
            </div>


            <!-- 동영상 -->
            <div class="section-video">
                <div class="video-inner inner">
                    <video width="100%" autoplay loop playsinline muted="muted">
                        <source src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/landing_video.mp4" type="video/mp4">
                    </video>

                </div>
            </div>

        </div>


    </div>
    <div id="middle-slice">

    </div>

    <!-- 무한 슬라이드 -->
    <div class="slider">
        <div class="slides">
            <div class="active">
                <img class="non-mobile" id="first-image" src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/slide-1.png"/>
                <img class="mobile" id="first-image" src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/slide-1-1.png"/>
            </div>
            <div class="right-set">
                <img class="non-mobile" id="first-image" src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/slide-2.png"/>
                <img class="mobile" id="first-image" src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/slide-2-2.png"/>
            </div>
            {#            <div><span>3</span></div>#}
            <div>
                <img class="non-mobile" id="first-image" src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/slide-3.png"/>
                <img class="mobile" id="first-image" src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/slide-3-3.png"/>
            </div>
            <div class="left-set">
                <img class="non-mobile" id="first-image" src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/slide-4.png"/>
                <img class="mobile" id="first-image" src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/slide-4-4.png"/>
            </div>
        </div>

        <div class="btn-slide" data-now-animating="N">
            <div><img id="slide-leftArrow" src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/slide-leftbtn.png"> </div>
            <div><img id="slide-rightArrow" src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/slide-rightbtn.png"> </div>
        </div>
    </div>


    <!--프로세스-->
    <div class="process">
        <img src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/process-3-m.png" class="mobile"/>
        <img src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/process-3.png" class="non-mobile"/>
    </div>





    <!--footer-->
    <footer>
        <div class="container">
            <div class="footer-first">
                <span style="font-size: 16px; font-family: noto-bold;">주식회사 몽데이크</span>
                <br/>
                <span>Copyright 2020 Mondeique. All rights reserved.</span>
            </div>
            <div class="footer-section">
                <span style="font-family: noto-bold;">주소</span> 서울시 마포구 연희로 11 5층 S-541호<br/>
                <span style="font-family: noto-bold;">대표</span> 박준용, 이상우<br/>
                <span style="font-family: noto-bold;">사업자등록번호</span> 789-81-01945<br/>
                <span style="font-family: noto-bold;">이메일</span> support@mondeique.com
            </div>
        </div>
    </footer>
    </body>


{% endblock %}

{% block js %}

    <script>

        console.clear();

        function slide(){
            var $this = $(this);
            var $btnSlide = $this.closest('.btn-slide');
            var NowAnimating = $btnSlide.attr('data-now-animating');
            var $btnLeft = $this.index() == 0;
            var $slider = $this.closest('.slider');
            var $slides = $slider.find('> .slides > div');
            var $activeSlide = $slider.find('> .slides > div.active');
            var $activePost;

            /*클릭 중복 방지*/
            if (NowAnimating == 'Y') {
                return;
            }

            /*트랜지션 제거*/
            $slides.removeClass('rm-active');

            /*버튼이 왼쪽 일 때*/
            if ($btnLeft) {
                slide_left($slides,$activeSlide);
            }

            /*버튼이 오른쪽 일 때*/
            else{
                slide_right($slides,$activeSlide);
            }

            /*클릭 중복 방지*/
            $btnSlide.attr('data-now-animating','Y');
            /*1초마다 실행*/
            setTimeout(function(){
                $btnSlide.attr('data-now-animating','N');
            }, 1000);
        }

        function slide_left($slides,$activeSlide){
            $slides.removeClass('right-set');
            $activePost = $activeSlide.prev();
            if ($activePost.length == 0) {
                $activePost = $('.slider > .slides > div:last-child');
            }
            $slides.not('active').addClass('left-set');

            /*액티브 였던 슬라이드 오른쪽 이동*/
            $activeSlide.addClass('rm-active');
            $activeSlide.removeClass('left-set');
            $activeSlide.addClass('right-set');
            $activeSlide.removeClass('active');
            $activePost.addClass('active');
            $activePost.removeClass('left-set');
        }

        function slide_right($slides,$activeSlide){
            $slides.removeClass('left-set');
            $activePost = $activeSlide.next();
            if ($activePost.length == 0){
                $activePost = $('.slider > .slides > div:first-child');
            }
            $slides.not('active').addClass('right-set');
            /*액티브 였던 슬라이드 왼쪽 이동*/
            $activeSlide.addClass('rm-active');
            $activeSlide.removeClass('right-set');
            $activeSlide.addClass('left-set');
            $activeSlide.removeClass('active');
            $activePost.addClass('active');
            $activePost.removeClass('right-set');
        }

        function slide_init(){
            $('.slider > .btn-slide > div').click(slide);
        }

        $(function(){
            slide_init();
        })

    </script>
{% endblock %}
