{% extends 'base.html' %}

{% block content %}

<body>
<!--section-->
<div id="wrap">


    <header>

        <div class="wrapper">
            <h1><a style="color:black; text-decoration-line: none; "href="/">AndreAI</a></h1>
            <nav>
                <ul class="menu">
                    <li><a href="{% url "landing:home" %}">서비스 소개</a></li>
                    <li><a style="color:black"; href="{% url "landing:select" %}">서비스 체험하기</a></li>
                    <li><a id="call" href="http://pf.kakao.com/_MhSgK/chat">문의하기</a></li>
                </ul>
            </nav>

        </div>

    </header>
    <div id="modelCutSection">
        <p id = "text1_1" style="font-family: noto-bold; color: black">모델 컷을 업로드하세요.</p>
        <p id = "text2">해당 사진에 자연스럽게 색이 적용됩니다.</p>

        <div class = "mobile" style="width: 100%;">
            <img class = "descriptionImg1 mobile" src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/modelCutImg.svg"/>
        </div>



        <div class="imageInputSection1">

            <div class = "imageHolderSection1">
                <div class = "holderBox1">
                    <img id = "modelImgPrev" class = "inputHolderImg" src = "https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/inputHolderImg.svg"/>
                    </br>

                    <form id="FILE_FORM" method="post" enctype="multipart/form-data" action="">
                        <label class="input-file-button" for="modelCut">사진 업로드하기</label>
                        <input type="file" id="modelCut" name="modelCut" style="display:none" accept="image/*"/>
                    </form>
                </div>
            </div>


            <div class = "descriptionSection non-mobile">
                <img class = "descriptionImg1" src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/modelCutImg.svg"/>
            </div>

        </div>
        <div id="register_next1">
            <img class = "mobile" src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/next_arrow1.png"/>
            <img class = "non-mobile" src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/next_arrow1.png"/>
        </div>
    </div>


    <div id="detailCutSection">


        <p id = "text1_2" style="font-family: noto-bold; color: black">원하는 컬러의 상세 컷을 <br>업로드하세요.</p>
        <p id = "text2">상세컷의 색상이 반영됩니다. <br> 여러장을 선택하실 수 있어요.</p>

        <div class = "mobile" style="width: 100%">
            <img class = "descriptionImg2 mobile" src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/detailCutImg.svg"/>
        </div>


        <div class="imageInputSection2">

            <div class = "imageHolderSection2">
                <div id = "leftArrow" class = "holderBox2 arrow hidden">
                    <img src = "https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/leftArrow_3.png"/>
                </div>
                <div class = "holderBox2">
                    <img id = "detailImgPrev" class = "inputHolderImg" src = "https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/inputHolderImg.svg"/>
                    </br>

                    <form id="FILE_FORM" method="post" enctype="multipart/form-data" action="">
                        <label class="input-file-button" for="detailCut">사진 업로드하기</label>
                        <input type="file" id="detailCut" name="detailCuts" style="display:none" accept="image/*" multiple/>
                    </form>


                </div>
                <div id = "rightArrow" class = "holderBox2 arrow hidden">
                    <img src = "https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/rightArrow_3.png"/>
                </div>
            </div>

            <div class = "descriptionSection non-mobile">
                <img class = "descriptionImg2" src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/detailCutImg.svg"/>
            </div>

        </div>
        <div id="register_next2">
            <img class = "mobile" src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/next_arrow2.png"/>
            <img class = "non-mobile" src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/next_arrow2.png"/>
        </div>

    </div>


    <div id="mailSection">
        <p id = "text3_1" style="font-family: noto-bold; color: black">결과를 받아보실<br>이메일과 전화번호를<br>입력해주세요.</p>
        <p id = "text3_2">1시간 이내로 보내드립니다 :)<br>*신청자가 많으면 조금 더 걸릴 수도 있어요.</p>
        <div class="imageInputSection_last">


            <div class = "inputBox" style="margin-bottom: 20px;">
                <p class="inputText  bold">쇼핑몰 이름</p>
                <form id="FILE_FORM" method="post" enctype="multipart/form-data" action="">
                    <input id = "shopName input_default" name="shop_val" placeholder="쇼핑몰 이름을 입력해주세요*" size = "40" type = "text" />
                </form>

                <p class="inputText  bold">이메일 주소</p>
                <form id="FILE_FORM" method="post" enctype="multipart/form-data" action="">
                    <input id = "email input_default" name="email_val" placeholder="이메일을 입력해주세요*" size = "40" type = "text" />
                </form>

                <p class="inputText  bold">핸드폰 번호</p>
                <form id="FILE_FORM" method="post" enctype="multipart/form-data" action="">
                    <input id = "phoneNum input_default" name="phone_val" placeholder="전화번호를 입력해주세요*" size = "40" type = "text" />
                </form>
                <div id="submitBtn" style="cursor:default;">신청하기</div>
            </div>

            <div id="fly">
                <img src="https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/fly.png"/>
            </div>
        </div>
    </div>
</div>



<!--footer-->
<footer style="clear: both;">
    <div class="container">
        <div class="footer-first">
            <span style="font-size: 16px; font-family: noto-bold;">주식회사 몽데이크</span>
            <br/>
            <span>Copyright 2020 Mondeique. All rights reserved.</span>
        </div>
        <div class="footer-section">
            <span style="font-family: noto-bold;">주소</span> 서울시 마포구 연희로 11 5층 S-541호<br/>
            <span style="font-family: noto-bold;">대표</span> 박준용, 이상우<br/>
            <span style="font-family: noto-bold;">사업자등록번호</span> 789-81-01945<br/>
            <span style="font-family: noto-bold;">이메일</span> support@mondeique.com
        </div>
    </div>
</footer>

</body>


{% endblock %}

{% block js %}

<script>

    $("#submitBtn").hover(function(){
        $("#submitBtn").css("background", "white").css("color","#5475DF");
    }, function(){
        $("#submitBtn").css("background", "#7C9AF2").css("color","white");
    });


    function send(){
        if (checkInfo()){

            var ajaxData = new FormData();
            var shop;
            var email;
            var phone;

            if($("input[name=shop_val]").val() == undefined){
                shop = null
            }else{
                shop = $("input[name=shop_val]").val()
            }
            if($("input[name=email_val]").val() == undefined){
                email = null
            }else {
                email = $("input[name=email_val]").val()
            }
            if($("input[name=phone_val]").val() == undefined){
                phone = null
            }else{
                phone = $("input[name=phone_val]").val()
            }

            ajaxData.append( 'action','uploadImages');
            /*모델 컷 업로드, [0]이 Ojbect*/
            ajaxData.append('target',$("#modelCut")[0].files[0]);
            /*디테 컷 업로드, each 로 for 문 돌면서 append*/
            $.each($("#detailCut"), function(i, obj) {
                $.each(obj.files,function(j, file){
                    ajaxData.append('ref', file);
                })
            });

            ajaxData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            ajaxData.append('email', email);
            ajaxData.append('shop_name', shop);
            ajaxData.append('phone', phone);

            $.ajax({
                method : "POST",
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                url : {% url 'pictures:try_model_cut' %},
                data : ajaxData,
                success : function(res){
                    window.location.href = {% url 'landing:success' %}
                },
                error:function(){
                    window.alert("신청자가 많아 지연되고 있습니다. 잠시 후 다시 시도해주세요.");
                }
            })
        }else{
            window.alert("신청 양식을 올바르게 채워주세요!");

        }
    }

    $("#submitBtn").on("click", send);


    function checkInfo()
    {
        if ($("#modelCut").val() != '' &&
            $("#detailCut").val() != '' &&
            $("#email").val() != '' &&
            $("#phoneNum").val() != '' &&
            $("#shopName").val() != ''){
            return true;
        } else {
            return false;
        }
    }


    $("#modelCut").change(function(){
        var modelCut = $("#modelCut").val();
        if(modelCut != ''){
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#modelImgPrev').attr('src', e.target.result);
                $('#modelImgPrev').addClass('imgSelected')
            };
            reader.readAsDataURL(this.files[0])
        }else{
            $('#modelImgPrev').attr('src', 'https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/inputHolderImg.svg');
            $('#modelImgPrev').removeClass('imgSelected')
        }
    });

    $(document).ready(function(){
        var files = [];
        var location = 0;
        var reader;

        $("#detailCut").change(function(){
            var detailCut = $("#detailCut").val();
            if(detailCut != ''){
                files = this.files;
                location = 0;
                setArrows(location, files)
            }else{
                $('#detailImgPrev').attr('src', 'https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/inputHolderImg.svg');
                $('#detailImgPrev').removeClass('imgSelected');
                files = [];
                location = 0;
                setArrows(location, files)
            }
        });
        $("#leftArrow").click(function(){
            arrowClick(true)
        });
        $("#rightArrow").click(function(){
            arrowClick(false)
        });

        function arrowClick(isLeft){
            if(isLeft){
                if(location != 0){
                    location -= 1;
                    setArrows(location, files)
                }
            }else{
                if(location != files.length -1){
                    location += 1;
                    setArrows(location, files)
                }
            }
        }
        function setArrows(location, fileList){
            $("#fileList").text(`${location + 1}/${fileList.length}`);
            if(fileList.length == 1){
                // both hidden
                $("#leftArrow").addClass('hidden');
                $("#rightArrow").addClass('hidden');
                $("#fileList").removeClass('hidden');
                reader = new FileReader();
                reader.onload = function (e) {
                    $('#detailImgPrev').attr('src', e.target.result);
                    $('#detailImgPrev').addClass('imgSelected')
                }
                reader.readAsDataURL(fileList[location])
            }else if(fileList.length == 0){
                // both hidden
                $("#leftArrow").addClass('hidden');
                $("#rightArrow").addClass('hidden');
                $("#fileList").addClass('hidden');
                $('#detailImgPrev').attr('src', 'https://andre-storages.s3.ap-northeast-2.amazonaws.com/static/img/inputHolderImg.svg');
                $('#detailImgPrev').removeClass('imgSelected')
            }else if(location ==0){
                // return 'showRightOnly'
                $("#leftArrow").addClass('hidden');
                $("#rightArrow").removeClass('hidden');
                $("#fileList").removeClass('hidden');
                reader = new FileReader();
                reader.onload = function (e) {
                    $('#detailImgPrev').attr('src', e.target.result);
                    $('#detailImgPrev').addClass('imgSelected')
                }
                reader.readAsDataURL(fileList[location])
            }else if(location == fileList.length - 1){
                // return 'showLeftOnly'
                $("#leftArrow").removeClass('hidden');
                $("#rightArrow").addClass('hidden');
                $("#fileList").removeClass('hidden');
                reader = new FileReader();
                reader.onload = function (e) {
                    $('#detailImgPrev').attr('src', e.target.result);
                    $('#detailImgPrev').addClass('imgSelected')
                }
                reader.readAsDataURL(fileList[location])
            }else{
                // return 'showBoth'
                $("#leftArrow").removeClass('hidden');
                $("#rightArrow").removeClass('hidden');
                $("#fileList").removeClass('hidden');
                reader = new FileReader();
                reader.onload = function (e) {
                    $('#detailImgPrev').attr('src', e.target.result);
                    $('#detailImgPrev').addClass('imgSelected')
                }
                reader.readAsDataURL(fileList[location])
            }
        }
    });
</script>
{% endblock %}
